@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html {
        font-size: 62.5%;
        font-family: 'Karla', sans-serif;
    }

    body::-webkit-scrollbar {
        width: 0.8rem;
    }

    body::-webkit-scrollbar-track-piece {
        margin: 0.2rem 0;
    }

    body::-webkit-scrollbar-thumb {
        border-radius: 2rem;
        background-color: hsl(256, 26%, 20%);
    }

    #iconMenu > span:is(:first-child, :last-child) {
        rotate: 0;
        transition: rotate 300ms, transform 400ms 300ms;
    }

    #iconMenu.active > span:first-child {
        rotate: 45deg;
    }

    #iconMenu.active > span:nth-child(2) {
        scale: 0;
    }

    #iconMenu.active > span:last-child {
        rotate: -45deg;
    }

    #iconMenu.active span:is(:first-child, :last-child) {
        transform: translateY(0);
        transition: transform 400ms, rotate 300ms 400ms;
    }
}